
@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');


 body{
        background-image: url(../img/bo1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        
      }
.pekerja{
       background-color:rgba(0, 0, 0, 0.5);
       box-shadow: 0px 0px 40px black;
       border: 1px solid white;
       border-radius: 15px;
}
.pekerja .card-body p{
       margin-bottom: 50px;
}
.tombol{
     box-shadow: 0px 0px 20px black;  
}
.produk{
       color: blue;
       font-family: 'Road Rage';

}